
/* Your CSS Code here. */
.main{
	width:200px;
	background-color:purple;
	padding:10px;
	border-style:solid;
	border-color:purple purple purple green;
	border-width:1px 1px 1px 5px;
}
.heading{
	color:white;
	font-size:20px;
}
